*.history
*.zip

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Logs
logs/
*.log

# SQLite
*.db
*.db-journal

# Vite / Vue
dist/
.vite/

# Sistema / IDE
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Ambiente
.env
.env.local
.env.*.*
